@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
}

* {
  scroll-behavior: smooth;
}

/* Custom CSS to hide scrollbars */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

.shining {
  box-shadow: 0 0 20px 5px rgba(255, 255, 0, 0.8);
  /* Adjust the glow effect as needed */
  transform: scale(1.20);
  /* Slightly enlarge the image */
  transition: transform 0.3s, box-shadow 0.3s;
  /* width*/
  width: 120%
}

/* Custom styles for sliding animation */
.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-enter {
  transform: translateX(100%);
}

.slide-enter-active {
  transform: translateX(0%);
  transition: transform 0.5s ease-in-out;
}

.slide-exit {
  transform: translateX(0%);
}

.slide-exit-active {
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

/* Text overlay styling */
.text-overlay {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  /* Adjust font size as needed */
  font-weight: normal;
  /* Adjust font weight as needed */
  padding: 1rem;
  /* Adjust padding as needed */
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background for better readability */
  border-radius: 0.5rem;
  /* Rounded corners for the overlay */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 1.6s ease-out;
}


@layer base {
  body {
    @apply font-sans bg-m-8 text-n-1 text-base;
  }
}

.rotate-45 {
  @apply rotate-[45deg];
}

.rotate-90 {
  @apply rotate-[90deg];
}

.rotate-135 {
  @apply rotate-[135deg];
}

.rotate-180 {
  @apply rotate-[180deg];
}

.rotate-225 {
  @apply rotate-[225deg];
}

.rotate-270 {
  @apply rotate-[270deg];
}

.rotate-315 {
  @apply rotate-[315deg];
}

.rotate-360 {
  @apply rotate-[360deg];
}

.-rotate-45 {
  @apply rotate-[-45deg];
}

.-rotate-90 {
  @apply rotate-[-90deg];
}

.-rotate-135 {
  @apply rotate-[-135deg];
}

.-rotate-180 {
  @apply rotate-[-180deg];
}

.-rotate-225 {
  @apply rotate-[-225deg];
}

.-rotate-270 {
  @apply rotate-[-270deg];
}

.-rotate-315 {
  @apply rotate-[-315deg];
}

.-rotate-360 {
  @apply rotate-[-360deg];
}